<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../img/logoPrinpicio.png">
    <link rel="stylesheet" href="../css/admin.styles.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
    <title>Buscador - Ideas de Papel</title>
</head>

<body>
    <div>
        <div class="two-columns backcolor">
            <h1>Bienvenido Oscar!</h1>
        </div>
        <div class="two-columns">
            <a href="login.html" class="botonLogout">Log Out</a>
        </div>
    </div>
    <div class="imagenPrincipio">
        <img class="logoPrinpicio" src="../img/logoPrinpicio.png" alt="¡UPS! parece que algo a fallado" width="10%">
        <p class="parrafoPrincipio">La plataforma de comercio online y comunidad lectora de las librerías independientes. Más de un millón de libros comercializados en España y dónde conseguirlos.</p>
        <div class="buscador">
            <input class="tamañoInput" type="text" value="" placeholder="Introduce aqui el nombre del libro">
            <a href="" class="botonBuscar">Buscar</a>
        </div>
    </div>
</body>

</html>